################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
/.vs/MyPluginTemplate
/.vs
/.vs
/.vs
*.sqlite
/MyPluginTemplate.Core/obj/Release
/MyPluginTemplate.Core/obj/Release
/.vs
/.vs
/MyPluginTemplate.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/MyPluginTemplate.Core/obj
/src/MyPluginTemplate.Core/obj
/src/MyPluginTemplate.Core/.vs
